.soft-aurora-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: auto; /* enable interactions */
  overflow: hidden;
}

.soft-aurora-container canvas {
  width: 100%;
  height: 100%;
}
